# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
logs/

# Build files
dist/

# IDE/Editor specific files
.vscode/
.idea/

# Mac OS specific files
.DS_Store

# Windows specific files
Thumbs.db
